/sim/inst_level/sim
/sim/inst_level/work
/sim/func_level/sim
/sim/func_level/work
/sim/modelsim/work
/sim/sim_mmu/work
/sim/sim_mmu/transcript

#For modelsim and riviera-pro
*.wlf
wlf*
transcript*
*.asdb
*.ucdb
